.st-font{
    font-family: "Satisfy";
}

html, body {
    height: 100%;

}
.container-fluid {
    min-height: 100%
}
.i-color {
    color:chartreuse;
}
.ss-color {
    color:silver;
}

a.nav-link {
    color:rgb(19, 13, 13);
    border-color: chocolate;
    border-bottom: 1px;
    border-top: 1px;
}

a.nav-link:hover {
    color: black;
    background-color: #e9cd79;
}

a.nav-link.active {
    color:rgb(117, 112, 112);
    background-color: #ffc107;
    font-weight: bold;
    }

    
div.bdrclr {
    border-color: rgb(10, 6, 46);
    border-width: 1px;
    border-style: dashed;
    border-right: 1px;
    border-left: 1px;
}

hr{
        height: 1px;
        background-color: rgb(143, 15, 15);
        border: none;
    }
.txtstyle {
    font-family: "Lucida Console", "Courier New", monospace;
    color: #daa20a;
    font-style: italic;
    font-weight: bold;


}

 table th, table td{
        
        padding-left: 10px;
        padding-right: 10px;
 }